/* ToC scrollbar */
.wy-menu-vertical {
    max-height: calc(100vh - 60px) !important;
    overflow-y: auto !important;
}

/* Make the logo and search area sticky */
.wy-side-nav-search {
    position: fixed;
    /* width: 300px; */ /* Adjust width as needed */
    z-index: 1000;
    padding-bottom: 20px; /* Add space below logo */    
}

/* Prevent the ToC from being overlapped */
.wy-menu {
    margin-top: 350px; /* Adjust this value based on the logo height */
}



