/* Highlight color for hyperlinks (grayish) */
div[class^="highlight"] a {
    background-color: #E6E6E6;
}

/* Highlight color for hyperlinks when hovering (cyan) */
div[class^="highlight"] a:hover {
    background-color: #ABECFC;
}

/* Background highlight color (white) */
div[class^="highlight"] {
  background-color: #FFFFFF;
}
