name: Testing
on:
  push:
    branches:
      - develop
      - develop-ref
      - feature_*
      - main_*
      - bugfix_*
    paths-ignore:
      - docs/**
  pull_request:
    types: [opened, reopened, synchronize]
    paths-ignore:
      - docs/** 
  workflow_dispatch:
    inputs:
      repo_name:
        description: 'Repository that triggered workflow'
        required: true
      docker_tag:
        description: 'DockerHub tag to use (for MET)'
      actor:
        description: 'User that triggered the event'
        required: true

jobs:
  event_info:
    name: "Trigger: ${{ github.event_name != 'workflow_dispatch' && github.event_name || github.event.inputs.repo_name }}"
    runs-on: ubuntu-latest
    steps:
      - name: Print GitHub values for reference
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

  job_control:
    name: Determine which jobs to run
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.job_status.outputs.matrix }}
      run_some_tests: ${{ steps.job_status.outputs.run_some_tests }}
      run_get_image: ${{ steps.job_status.outputs.run_get_image }}
      run_get_input_data: ${{ steps.job_status.outputs.run_get_input_data }}
      run_diff: ${{ steps.job_status.outputs.run_diff }}
      run_save_truth_data: ${{ steps.job_status.outputs.run_save_truth_data }}
      external_trigger: ${{ steps.job_status.outputs.external_trigger }}
    steps:
      - uses: actions/checkout@v2
      - name: Set job controls
        id: job_status
        run: .github/jobs/set_job_controls.sh
        env:
          commit_msg: ${{ github.event.head_commit.message }}
      - uses: actions/upload-artifact@v2
        with:
          name: job_control_status
          path: job_control_status
  get_image:
    name: Docker Setup - Get METplus Image
    runs-on: ubuntu-latest
    needs: job_control
    if: ${{ needs.job_control.outputs.run_get_image == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Get METplus Image
        run: .github/jobs/docker_setup.sh
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          #MET_FORCE_TAG: 10.0.0
  update_data_volumes:
    name: Docker Setup - Update Data Volumes
    runs-on: ubuntu-latest
    needs: job_control
    if: ${{ needs.job_control.outputs.run_get_input_data == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.6'
      - name: Install dependencies
        run: python -m pip install --upgrade pip python-dateutil requests bs4
      - name: Update Data Volumes
        run: .github/jobs/docker_update_data_volumes.py
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  use_case_tests:
    name: Use Case Tests
    runs-on: ubuntu-latest
    needs: [get_image, update_data_volumes, job_control]
    if: ${{ always() && needs.job_control.outputs.run_some_tests == 'true' }}
    strategy:
      fail-fast: false
      matrix: ${{fromJson(needs.job_control.outputs.matrix)}}
    steps:
      - name: Create directories for database
        run: |
          mkdir -p $RUNNER_WORKSPACE/mysql
          mkdir -p $RUNNER_WORKSPACE/output/metviewer
          chmod a+w $RUNNER_WORKSPACE/mysql
          chmod a+w $RUNNER_WORKSPACE/output/metviewer
      - name: Create directory for artifacts
        run: mkdir -p artifact
      - uses: actions/checkout@v2
      - name: Get artifact name
        id: get-artifact-name
        run: |
          artifact_name=`.github/jobs/get_artifact_name.sh ${{ matrix.categories }}`
          echo ::set-output name=artifact_name::${artifact_name}
      - uses: ./.github/actions/run_tests
        id: run_tests
        with:
          categories: ${{ matrix.categories }}

      # copy logs with errors to error_logs directory to save as artifact
      - name: Save error logs
        id: save-errors
        if: ${{ always() && steps.run_tests.conclusion == 'failure' && matrix.categories != 'pytests' }}
        run: |
          .github/jobs/copy_error_logs.py \
            ${RUNNER_WORKSPACE}/output \
            artifact/error_logs
          if [ -d "artifact/error_logs" ]; then
            echo ::set-output name=upload_error_logs::true
          else
            echo ::set-output name=upload_error_logs::false
          fi

      # run difference testing
      - name: Run difference tests
        id: run-diff
        if: ${{ needs.job_control.outputs.run_diff == 'true' && steps.run_tests.conclusion == 'success'  && matrix.categories != 'pytests' }}
        run: |
          artifact_name=${{ steps.get-artifact-name.outputs.artifact_name }}
          .github/jobs/setup_and_run_diff.py ${{ matrix.categories }} $artifact_name
          if [ "$( ls -A ${RUNNER_WORKSPACE}/diff)" ]; then
            echo ::set-output name=upload_diff::true
            mkdir -p artifact/diff-${artifact_name}
            cp -r ${RUNNER_WORKSPACE}/diff/* artifact/diff-${artifact_name}
            exit 1
          else
            echo ::set-output name=upload_diff::false
          fi

      # copy output data to save as artifact
      - name: Save output data
        id: save-output
        if: ${{ always() && steps.run_tests.conclusion != 'skipped'  && matrix.categories != 'pytests' }}
        run: |
          artifact_name=${{ steps.get-artifact-name.outputs.artifact_name }}
          mkdir -p artifact/${artifact_name}
          cp -r ${RUNNER_WORKSPACE}/output/* artifact/${artifact_name}/

      - uses: actions/upload-artifact@v2
        name: Upload output data artifact
        if: ${{ always() && steps.run_tests.conclusion != 'skipped'  && matrix.categories != 'pytests' }}
        with:
          name: ${{ steps.get-artifact-name.outputs.artifact_name }}
          path: artifact/${{ steps.get-artifact-name.outputs.artifact_name }}
      - uses: actions/upload-artifact@v2
        name: Upload error logs artifact
        if: ${{ always() && steps.save-errors.outputs.upload_error_logs }}
        with:
          name: error_logs
          path: artifact/error_logs
          if-no-files-found: ignore
      - uses: actions/upload-artifact@v2
        name: Upload difference data artifact
        if: ${{ always() && steps.run-diff.outputs.upload_diff == 'true' }}
        with:
          name: diff-${{ steps.get-artifact-name.outputs.artifact_name }}
          path: artifact/diff-${{ steps.get-artifact-name.outputs.artifact_name }}
          if-no-files-found: ignore
  create_output_data_volumes:
    name: Create Output Docker Data Volumes
    runs-on: ubuntu-latest
    needs: [use_case_tests]
    if: ${{ needs.job_control.outputs.run_save_truth_data == 'true' }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - run: .github/jobs/create_output_data_volumes.sh
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
