certifi==2023.7.22
cftime==1.6.2
coverage==7.2.7
exceptiongroup==1.1.2
iniconfig==2.0.0
netCDF4==1.6.4
numpy==1.25.2
packaging==23.1
pandas==2.0.3
pdf2image==1.16.3
Pillow==10.0.0
pluggy==1.2.0
pytest==7.4.0
pytest-cov==4.1.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
tomli==2.0.1
tzdata==2023.3
